extends ../layout

block content
  .container
    .page-header Sign Up
    hr
    div.login-methods(style='width: 60%; margin: 0 auto; overflow: auto; position: relative;')
      div.left
        form(action='/admin/signup' method='POST' style='margin: 0;')
          div.row.full-row
            label(for='username') Username
            input(id='username' required).row
          div.row.full-row
            label(for='email') Email
            input(id='email' type='email' required).row
          div.row.full-row
            label(for='password') Password
            input(id='password' type='password').row
          div.row.full-row
            button(type='submit').left Sign Up

block scripts
  script(data-main='/js/admin/main', src='/js/lib/require.js')

if Error
  script.
    var Error = !{JSON.stringify(Error)};