extends layout

block content
  .container
    .page-header Admin
    hr
    p Coming soon: manage the profile and keg information.
    h3 Configure your system
    form.row
      label.row
    h3 Configure a Keg
    form.row(action='/api/keg/' method='POST')
      label.row(for='kegid') Keg ID
      input(id='kegid' name='kegid' type='number' min='1' max='2')
      label.row(for='volume') Volume (gallons)
      input(id='volume' name='volume' type='number' min='0' max='99')
      label.row(for='pressure') Pressure (psi)
      input(id='pressure' name='pressure' type='number' min='0' max ='40')
      label.row(for='keggedon') Date Kegged
      input(id='keggedon' name='keggedon' type='date')
      label.row(for='recipeid') Recipe
      select(id='recipeid' name='recipeid')
        for recipe in data.recipes
          option(value=recipe.id) #{recipe.name}
      div.row
        button(type='submit') Submit
      if data.message
        h3=data.message

block append scripts
  script(data-main='js/admin/main', src='js/lib/require.js')