extends layout

block content
  .container
    .page-header The Hopstead
    hr
    p The Hopstead is my home brewery, where I brew up my favorite cloned, modified, and original beer recipes.
    h3= 'Brewing'
    p Currently I'm running a vertical 3 tier, 15 gal stage gravity fed system. I have a March pump that I'll soon wire up to create a fully operational HERMS.
    h3= 'Serving'
    p I've got a lil 2 tap, 5 gal corny each, kegerator to serve my tasty brews. There's Johnson A419 Temp controller in front with the temp probe run back in through the lid to help kep the kegerator stable.
