extends layout

block content
  .container
    h1= 'Whatchya all about?'
    p
      | My name's Chad March and I am a GIS Developer for 
      a(href='www.resdat.com') Resource Data Inc. 
      | in Portland, Oregon. Currently I develop mostly Web GIS applications and have gotten 
      | really interested in front end development and really like working with JavaScript.
    h3= 'Whatchya like to do?'
    p If it's winter, I'm itching to grab my board and get out on the mountain. I've been snowboarding since 2001 and am working on ticking off my mountain bucket list:
    ul
      li 
        .checked Whistler
        .year (2014)
      li Vail
      li Breckenridge
      li
        .checked Mammoth
        .year (2005)