doctype html
html
  head
    title= 'Chad March'
    block styles
      link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,700', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body.background
    .navbar.left
      ul.left
        li
          a(href='/', class='btn btn=default') Home
        li
          a(href='/projects', class='btn btn-default') Projects
        li
          a(href='/ontap', class='btn btn-default') On Tap
        li
          a(href='/brewing', class='btn btn-default') Brewing
    .content.left
      block content
