extends layout

block content
  .container
    .page-header Projects
    hr
    h3= 'This site!'
    p One of my latest projects is creating my own site to tinker with new technologies I'm interested in as well as a place to showcase previous work and share my interests.
    h3= 'Raspberry Kegerator'
    p 
      |Ever since visiting 
      a(href='http://www.baileystaproom.com' target='_blank') Bailey's Taproom
      |, I knew I wanted my kegerator to have a display like theirs, but better! The highlights of this project include:
      ul
        li Live kegerator pour feed
        li Live temperature feed
        li Historical data for average keg life, average pour volume, and more