extends layout

block content
  .container
    .page-header Projects
    hr
    h3 RDI Projects
    p
      |I worked on a team to create a
      a(href='https://research.psmfc.org/' target='_blank') research management site
      | that allows authorized users to edit information about the research activities.
      | I designed and implemented the user interface.
    p
      |I help to maintain
      a(href='https://marketplace.fishtrax.org/' target='_blank') a Django application
      | for FishTrax Services Inc. that allows seafood dealers, retailers, and consumers trace the origin of the fish from catch to table.
    p
      |I am working on a team to rebuild a fish tracking application that allows salmon fisherman to track their
      | fishing trips and catch locations as well as allow NOAA scientists to perform statistical analysis of the data and genetic sampling identification.
      | The first version of the site
      a(href='https://fp.pacificfishtrax.org/portal' target='_blank') https://fp.pacificfishtrax.org/portal
      |  that I used to maintain and
      a(href='https://wcgsi.finsight-ak.com/') https://wcgsi.finsight-ak.com/
      | the new site where I designed and implemented most of the user interface.
    p
      |I designed and implemented the content for a data download page for the City of Corvallis #[a(href='http://www.corvallisoregon.gov/index.aspx?page=163') http://www.corvallisoregon.gov/index.aspx?page=163]

    h3 Personal
    p 
      |Ever since visiting 
      a(href='http://www.baileystaproom.com' target='_blank') Bailey's Taproom
      |, I knew I wanted my kegerator to have a display like theirs, but better! The highlights of this project include:
      ul
        li Live kegerator pour feed
        li Live temperature feed
        li Historical data for average keg life, average pour volume, and more