.keggedon{
  border: 1px solid #120A42;
  border-radius: 3px;
}

.keggedon div{
  padding: 7.5px;
  text-align: center;
}

.range-input{
  width: 55px;
}

.volume p{
  margin: 13px 0;
  font-size: 14px;
}

#volume {
  padding: 0 5px;
}

#pourstats{
  border-spacing: 5px 0;
}

.keggedon .month,
#pourstats th{
  background-color: #120A42;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-shadow: #000000 1px 3px 6px;
  color: #fff;
  box-shadow: 0 4px 8px -4px #120A42;
}

#pourstats th{
  padding: 10px 0;
}

#pourstats td{
  text-align: center;
  padding: 10px 7px;
  border: 1px solid #aaa;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#deactivate{
  margin: 8.5px;
}