html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial';
  overflow: hidden;
}

#homelink{
  width: 100%;
  padding: 0 5px;
}

#homelink div{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#me{
  background: url(../images/small-me.jpg) -70px -25px no-repeat;
  height: 220px;
  width: 100%;
  border-radius: 50%;
}

a{
  text-decoration: none;
}

.navbar a,
a:visited{
  color: #666;
}

body::after{
  content: "";
  background: #fff url("../images/hops.jpg") no-repeat right bottom;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.navbar{
  width: 200px;
  height: 100%;
  background-color: #ddd;
  box-shadow: 0 -2.5px 15px 0px #666;
  border-bottom: 1px solid #bbb;
}

.navbar h2{
  text-align: center;
}

.navbar ul{
  list-style-type: none;
  position: relative;
  padding: 0;
  margin: 0;
  left: 50%;
  transform: translate(-45%, 0);
}

.navbar a{
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #ddd;
}

.navbar a:hover{
  background-color: #eee;
}

.navbar p,
.navbar a{
  display: inline-block;
}

.navbar .top a{
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar p.btn{
  cursor: default;
  left: 50%;
  position: relative;
  transform: translate(-45%, 0);
  white-space: pre;
  font-weight: 700;
  font-size: x-large;
  margin: 0 0 10px 0;
}

.navbar,
.content{
  box-sizing: border-box;
}

.content{
  width: calc(100% - 235px);
  display: inline-block;
  position: absolute;
  overflow: auto;
  margin: 20px;
  padding: 5px 20px;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.6);
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 0 7.5px #888;
}

.btn-default{
  border: none;
}

.left{
  float: left;
}

.right{
  float: right;
}

.top,
.bottom{
  width: inherit;
  position: absolute;
}

.top{
  top: 0;
  height: 40%;
}

.bottom{
  bottom: 0;
  height: 60%;
}

.bottom .left{
  clear: both;
}

.year,
.checked{
  display: inline-block;
}

.year{
  margin-left: 10px;
}

.checked{
  /* eventually replace with checkmark icon */
  text-decoration: line-through;
}

.row{
  width: 100%;
  margin: 5px 0;
  overflow: auto;
}

.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
.col-pull-12 {
  right: 100%;
}
.col-pull-11 {
  right: 91.66666667%;
}
.col-pull-10 {
  right: 83.33333333%;
}
.col-pull-9 {
  right: 75%;
}
.col-pull-8 {
  right: 66.66666667%;
}
.col-pull-7 {
  right: 58.33333333%;
}
.col-pull-6 {
  right: 50%;
}
.col-pull-5 {
  right: 41.66666667%;
}
.col-pull-4 {
  right: 33.33333333%;
}
.col-pull-3 {
  right: 25%;
}
.col-pull-2 {
  right: 16.66666667%;
}
.col-pull-1 {
  right: 8.33333333%;
}
.col-pull-0 {
  right: auto;
}
.col-push-12 {
  left: 100%;
}
.col-push-11 {
  left: 91.66666667%;
}
.col-push-10 {
  left: 83.33333333%;
}
.col-push-9 {
  left: 75%;
}
.col-push-8 {
  left: 66.66666667%;
}
.col-push-7 {
  left: 58.33333333%;
}
.col-push-6 {
  left: 50%;
}
.col-push-5 {
  left: 41.66666667%;
}
.col-push-4 {
  left: 33.33333333%;
}
.col-push-3 {
  left: 25%;
}
.col-push-2 {
  left: 16.66666667%;
}
.col-push-1 {
  left: 8.33333333%;
}
.col-push-0 {
  left: auto;
}
.col-offset-12 {
  margin-left: 100%;
}
.col-offset-11 {
  margin-left: 91.66666667%;
}
.col-offset-10 {
  margin-left: 83.33333333%;
}
.col-offset-9 {
  margin-left: 75%;
}
.col-offset-8 {
  margin-left: 66.66666667%;
}
.col-offset-7 {
  margin-left: 58.33333333%;
}
.col-offset-6 {
  margin-left: 50%;
}
.col-offset-5 {
  margin-left: 41.66666667%;
}
.col-offset-4 {
  margin-left: 33.33333333%;
}
.col-offset-3 {
  margin-left: 25%;
}
.col-offset-2 {
  margin-left: 16.66666667%;
}
.col-offset-1 {
  margin-left: 8.33333333%;
}
.col-offset-0 {
  margin-left: 0%;
}